.event-picture {
  height: 200px;
  width: 200px;
  margin: auto auto;
}

.floor-end-buttons {
  height: 100%;
  width: 300px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}